@media screen and (max-width: 600px){
    .page1{
        flex-direction: column;
    }

    .title{
        width: 100%;
    }

    .sosmed{
        font-size: 2rem;
    }

    .content{
        width: 100%;
        padding: 0 20px;
    }

    .judul{
        padding-top: 25px;
        font-size: 2rem;
    }

    a{
        font-size: 1rem;
    }
}
